@import 'tailwindcss';

:root {
	--color-primary-light: #fcf8ef;
	--color-primary-red: #952222;
	--color-dark: #2d2a27;
	--color-secondary-light: #fff9e8;
	--font-cormorant: 'Cormorant', serif;
	--font-montserrat: 'Montserrat', sans-serif;
}

@theme {
  --color-primary-light:var(--color-primary-light) ;
	--color-dark: var(--bg-dark);
	--color-primary-red: var(--color-primary-red);
	--color-secondary-light: var(--color-secondary-light);
	--font-cormorant: var(--font-cormorant);
}
img {
  max-inline-size: 100%;
}
body {
	font-family: var(--font-montserrat), serif;
}
